@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
header {
  background-color: rgba(0, 45, 77, 0.37);
}

section {
  padding: 5rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid #0c679c;
  color: #0c679c;
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
}
.link-btn:hover {
  background: #0c679c;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}

.header {
  z-index: 1000;
  padding: 2rem 0;
}
.header.active {
  padding: 2rem 0;
  background: #0c679c;
}


.header .nav a {
  font-size: 2rem;
  margin-right: 1rem;
  color: #fff;
}




.header .nav a:hover {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem;
}
.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
}
.header #menu-btn {
  display: none;
}

.footer {
  text-align: center;
}
.footer .logo {
  font-size: 3rem;
  color: #0c679c;
  font-weight: bolder;
}
.footer .credit {
  margin: 2rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
}
.footer .credit span {
  text-decoration: underline !important;
}
.footer .share {
  margin-top: 2rem;
}
.footer .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  border: 0.1rem solid #0c679c;
  color: #0c679c;
  margin: 0.3rem;
}
.footer .share a:hover {
  background: #0c679c;
  color: #fff;
}

.about span, .home span {
  font-size: 2.5rem;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none !important;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #0c679c;
}

@-webkit-keyframes fadeIn {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }
}
.login-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.login-form.active {
  display: flex;
}
.login-form form {
  width: 50rem;
  padding: 4rem;
  background: #fff;
  text-align: center;
  position: relative;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}
.login-form form #close-login-form {
  position: absolute;
  top: -4rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.login-form form #close-login-form:hover {
  transform: rotate(90deg);
}
.login-form form .logo {
  font-size: 2.5rem;
  color: #0c679c;
  font-weight: bolder;
}
.login-form form h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
  margin-top: 1rem;
}
.login-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0c679c;
  font-size: 1.6rem;
  margin: 1rem 0;
}
.login-form form .flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}
.login-form form .flex label {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
  cursor: pointer;
}
.login-form form .flex a {
  font-size: 1.5rem;
  color: #0c679c;
  margin-left: auto;
}
.login-form form .flex a:hover {
  text-decoration: underline !important;
}
.login-form form .link-btn {
  width: 100%;
  margin-bottom: 2rem;
}
.login-form form .account {
  padding: 1.5rem 0.5rem;
  background: #eee;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}
.login-form form .account a {
  color: #0c679c;
}
.login-form form .account a:hover {
  text-decoration: underline !important;
}

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/TravelBackground.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home span {
  color: #fff;
}
.home h3 {
  padding: 1rem 0;
  font-size: 3rem;
  color: #fff;
}
.home .link-btn {
  color: #fff;
  border-color: #fff;
}

.about span {
  color: #0c679c;
}
.about .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}
.about p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}
.about .icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}
.about .icons-container .icons {
  padding: 2rem;
  background: #eee;
  text-align: center;
  flex: 1 1 14rem;
}
.about .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #0c679c;
}
.about .icons-container .icons h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #222;
}

.menu {
  background: #eee;
}
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.menu .box-container .box {
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0.5rem;
}
.menu .box-container .box:hover {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
}
.menu .box-container .box img {
  height: 15rem;
  margin-bottom: 2rem;
}
.menu .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
}
.menu .box-container .box p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}

.contact .contact-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}
.contact .contact-info-container .box {
  border: 0.1rem solid #0c679c;
  padding: 3rem 2rem;
  border: 0.1rem solid #0c679c;
  text-align: center;
}
.contact .contact-info-container .box:hover i {
  background: #0c679c;
  color: #fff;
}
.contact .contact-info-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid #0c679c;
  color: #0c679c;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.contact .contact-info-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #222;
  padding: 1rem 0;
}
.contact .contact-info-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  margin-bottom: 0;
}


.contact #button {
  /* display: inline-block; */
  font-size: 2rem;
  text-transform: capitalize;
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  border-radius: 1px;
  text-align: center;
  margin-bottom: 0;
}

.contact #button a {
  color: #fff;
  text-decoration: none;
}

/* .contact #map {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}  */


 





.contact form h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
  padding-bottom: 1rem;
}
.contact form .box {
  margin: 0.7rem 0;
  border: 0.1rem solid #0c679c;
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 1.4rem;
}
.contact form .box:focus {
  background: #0c679c;
  color: #fff;
}
.contact form .box:focus::-moz-placeholder {
  color: #eee;
}
.contact form .box:focus:-ms-input-placeholder {
  color: #eee;
}
.contact form .box:focus::placeholder {
  color: #eee;
}
.contact form textarea {
  height: 15rem;
  resize: none;
}

.subs {
  border-radius: 50%;
  border: 3px solid #0c679c;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
  }
  .home h3 {
    font-size: 4rem;
  }
  section {
    padding: 3rem 0;
  }
}
@media (max-width: 768px) {
  .login-form form {
    padding: 3rem 2rem;
  }
  .login-form form h3 {
    font-size: 1.7rem;
  }
  .header {
    padding: 2rem 2rem;
  }
  .header.active {
    padding: 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #0c679c;
    flex-flow: column;
    padding: 1rem 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav a {
    margin: 1rem 2rem;
    color: #222;
  }
  .contact .map {
    height: 25rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  @media screen and (max-width: 767px) {
    .contact .container {
      flex-direction: column;
      align-items: center;
    }
    
    .contact .box {
      max-width: 400px;
      width: 100%;
    }
  }
}/*# sourceMappingURL=styles.css.map */



