body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  
  #form-box {
    margin: 50px auto;
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s ease;
  }
  
  input[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  input[type="button"]:active {
    transform: scale(0.95);
  }
  
  #result {
    background-color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  